.button {
    font-family: inherit;
    display: inline-block;
    background: $dark;
    color: $white;
    text-transform: uppercase;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &--next {
        width: 40px;
        height: 80px;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &--submit {
        width: 100%;
    }
    &--attach-file {
        padding: 8px 10px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
    }
}

.button:hover,
.button:focus,
.button:active {
    background-color: $darkgrey;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000;
}