.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.page-header__logo {
    padding-left: 40px;
}